In [27]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline

In [28]:
np.random.seed(42)

# Portfolio Planner

In this activity, you will use the iexfinance api to grab historical data for a 60/40 portfolio using `SPY` to represent the stock portion and `AGG` to represent the bonds.

In [29]:
from dotenv import load_dotenv
load_dotenv()
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

# Data Collection

In this step, you will need to use the IEX api to fetch closing prices for the `SPY` and `AGG` tickers. Save the results as a pandas DataFrame

In [30]:
tickers = ["SPY", "AGG"]
timeframe = '1D'
end_date = datetime.now()
start_date = end_date + timedelta(-365)
# YOUR CODE HERE
df = api.get_barset(
    tickers,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
df.head()

                              AGG                                        \
                             open      high      low     close   volume
time
2019-11-15 00:00:00-05:00  112.46  112.4600  112.380  112.4100  3961721
2019-11-18 00:00:00-05:00  112.56  112.6460  112.520  112.5950  5550696
2019-11-19 00:00:00-05:00  112.63  112.7600  112.600  112.7100  2181200
2019-11-20 00:00:00-05:00  112.83  112.9800  112.805  112.9700  3218845
2019-11-21 00:00:00-05:00  112.80  112.8859  112.720  112.8131  3971410

                              SPY
                             open    high     low   close    volume
time
2019-11-15 00:00:00-05:00  311.02  311.83  310.26  311.82  42549412
2019-11-18 00:00:00-05:00  311.53  312.28  311.03  312.00  40559312
2019-11-19 00:00:00-05:00  312.68  312.69  311.22  311.91  56892505
2019-11-20 00:00:00-05:00  311.28  311.85  309.06  310.79  62833225
2019-11-21 00:00:00-05:00  310.89  311.01  309.39  310.29  42497606

In [31]:
df.drop(columns=['open', 'high', 'low', 'volume'], level=1, inplace=True)
df.head()

                                AGG     SPY
                              close   close
time
2019-11-15 00:00:00-05:00  112.4100  311.82
2019-11-18 00:00:00-05:00  112.5950  312.00
2019-11-19 00:00:00-05:00  112.7100  311.91
2019-11-20 00:00:00-05:00  112.9700  310.79
2019-11-21 00:00:00-05:00  112.8131  310.29

TypeError: unhashable type: 'list'

# Monte Carlo Simulation

In this step, you will run Monte Carlo Simulations for your portfolio to model portfolio performance at different retirement ages. 

Complete the following steps:
1. Calculate the daily returns for the SPY and AGG closing prices.
2. Calculate volatility for both the SPY and AGG closing prices.
3. Find the last day's closing price for both stocks and save those as variables.
4. Run a Monte Carlo Simulation of at least 500 iterations and generate at least 30 years of closing prices

### HINTS:
There are 252 trading days per year, so the number of records to generate for each Monte Carlo run will be 252 days * 30 years

In [33]:
# Calculate the daily roi for the stocks
daily_roi = df.pct_change()
daily_roi.head()
# YOUR CODE HERE

                                AGG       SPY
                              close     close
time
2019-11-15 00:00:00-05:00       NaN       NaN
2019-11-18 00:00:00-05:00  0.001646  0.000577
2019-11-19 00:00:00-05:00  0.001021 -0.000288
2019-11-20 00:00:00-05:00  0.002307 -0.003591
2019-11-21 00:00:00-05:00 -0.001389 -0.001609

In [36]:
# Calculate volatility
std_daily_roi = daily_roi.std()
std_daily_roi
# YOUR CODE HERE

AGG  close    0.008479
SPY  close    0.029938
dtype: float64

In [50]:
# Save the last day's closing price
last_price_AGG = df['AGG']['close'][-1]
last_price_SPY = df['SPY']['close'][-1]
simulated_AGG_prices = [last_price_AGG]
simulated_SPY_prices = [last_price_SPY]
avg_daily_return = daily_roi.mean()
# YOUR CODE HERE

In [48]:
# Setup the Monte Carlo Parameters
number_simulations = 500
number_records = 252 * 30
monte_carlo = pd.DataFrame()

In [ ]:
# Run the Monte Carlo Simulation
for x in range(number_simulations):
    
    for i in range(number_records):
        AGG_simulated_price = simulated_AGG_prices[-1] * (1 + np.random.normal(avg_daily_return, std_daily_roi))
        simulated_AGG_prices.append(AGG_simulated_price)
        SPY_simulated_price = simulated_SPY_prices[-1] * (1 + np.random.normal(avg_daily_return, std_daily_roi))
        simulated_SPY_prices.append(SPY_simulated_price)
        
simulated_AGG_df = pd.DataFrame({
    "Simulated AGG Prices": simulated_AGG_prices
})

simulated_SPY_df = pd.DataFrame({
    "Simulated SPY Prices": simulated_SPY_prices
})


        
        
    
    
    # YOUR CODE HERE

In [ ]:
# Visualize the Simulation
# YOUR CODE HERE

In [14]:
# Select the last row for the cumulative returns (cumulative returns at 30 years)
# YOUR CODE HERE

In [ ]:
# Select the last row for the cumulative returns (cumulative returns at 20 years)
# YOUR CODE HERE

In [ ]:
# Display the 90% confidence interval for the ending returns
# YOUR CODE HERE

In [ ]:
# Visualize the distribution of the ending returns
# YOUR CODE HERE

---

# Retirement Analysis

In this section, you will use the monte carlo model to answer the following retirement planning questions:

1. What are the expected cumulative returns at 30 years for the 10th, 50th, and 90th percentiles?
2. Given an initial investment of `$20,000`, what is the expected portfolio return in dollars at the 10th, 50th, and 90th percentiles?
3. Given the current projected annual income from the Plaid analysis, will a 4% withdraw rate from the retirement portfolio meet or exceed that value at the 10th percentile?
4. How would a 50% increase in the initial investment amount affect the 4% retirement withdrawal?

### What are the expected cumulative returns at 30 years for the 10th, 50th, and 90th percentiles?

In [ ]:
# YOUR CODE HERE

### Given an initial investment of `$20,000`, what is the expected portfolio return in dollars at the 10th, 50th, and 90th percentiles?

In [ ]:
# YOUR CODE HERE

### Given the current projected annual income from the Plaid analysis, will a 4% withdraw rate from the retirement portfolio meet or exceed that value at the 10th percentile?

Note: This is effectively saying that 90% of the expected returns will be greater than the return at the 10th percentile, so this can help measure the uncertainty about having enough funds at retirement

In [ ]:
# YOUR CODE HERE

### How would a 50% increase in the initial investment amount affect the 4% retirement withdrawal?

In [ ]:
# YOUR CODE HERE

### Optional Challenge

In this section, you will calculate and plot the cumulative returns for the median and 90% confidence intervals. This plot shows the expected cumulative returns for any given day between the first day and the last day of investment.

In [ ]:
# YOUR CODE HERE